h1, base {
  font-family: Lato;
  background-color:aqua;
  text-align: center;
  text-decoration: dotted;
  text-decoration-color: rgb(196, 255, 196);
  
}
p,li {

  font-family: Lato;
  background-color:antiquewhite;
  text-align: left;
text-decoration:aqua;
}
.imageclass{
  height:100px;
  width:100px;
}
.p1{
  text-align: center;
}